<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.com.coneey.rxaudiomanager">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>

        <service android:name=".serviceMediaManager.PlayerService" />
    </application>

</manifest>
